* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #F5F5F5;
    padding-top: 40px;
}

.widget-block {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    height: 100px;
    justify-content: center;
}

.widget {
    position: relative;
    width: 400px;
    color: white;
    border-radius: 24px;
    height: 150px;
    background-color: rgb(73, 73, 73);
    padding: 24px;
    padding-top: 100px;
}

.widget .element {
    background: white;
}

p.great {
    transition: 1s;
    color: lightgreen;
}

p.bad {
    transition: 1s;
    color: lightcoral;
}

select,
button {
    color: white;
    background-color: rgb(155, 89, 163);
    min-width: 64px;
    padding: 3px 16px;
    font-size: 1rem;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px;
}

button {
    cursor: pointer;
    position: absolute;
    top: 10%;
    left: 32%;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 30px;
}

.widget-select {
    display: block;
    margin: 0 auto;
}

.rubles-conversion,
.currency-checker-block,
.weather-block {
    background-color: rgb(73, 73, 73);
    margin-bottom: 20px;
}

.rubles-conversion .other-field,
.rubles-conversion .rubles-field {
    height: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.sub-currency {
    margin-left: 20px;
}

.currency-select-block {
    text-align: center;
    margin-bottom: 20px;
}

.convert-value {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-size: 2rem;
}

.triangle {
    margin-top: 10px;
    position: relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgb(73, 73, 73);
}

.triangle.great {
    transition: 1s;
    border-bottom: 20px solid green;
}

.triangle.bad {
    transition: 1s;
    transform: rotate(180deg);
    border-bottom-color: red;
}

.weather-info {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.weather-info p {
    margin-bottom: 5px;
}

.weather-info img {
    background-color: rgb(82, 201, 238);
    border-radius: 50%;
}

.weather-block select {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.weather-data {
    text-align: right;
}

input {
    background-color: rgb(234, 197, 238);
    padding-left: 10px;
}

@media (max-width: 1280px) {}